/*exercici 1 ben  fet*/
*{
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
    max-width: 1200px;  
   
}

.father{
    display: flex;
    flex-flow: column nowrap;
    
}

.container{
    background-color: black; 
    min-width: 200px;
}

.sectioncont{
    background-color: black;
    min-width: 200px;
}

header{
    background-color: black;

}

#menu{
    background-color: #75E0CC;
    display: flex;
    flex-flow: row nowrap;

}
#logo{
    background-color: #DB48E0;
    flex: 1 1 auto;
}
header nav{
    background-color: #DB48E0;
    flex: 5 1 auto;
}
#socialMedia{
    background-color: #DB48E0;
    flex: 1 1 auto;
}

#textHero{
    background-color: #947D2F;
}

header h1{
    background-color:#F26DF7;
}

section{
    display: flex;
    flex-flow: row nowrap ;
    
}

#letter{ 
    background-color: #E0C35E;  
    flex: 2 1 auto; 
    display: flex;
    flex-flow: row wrap;
}

section article{
    background-color: #C468ED; 
    flex: 1 1 40%;
}

section nav{
    background-color: #F26DF7;
    flex: 1 1 100%
}

aside{
    background-color:#75E0CC;
    flex: 1 1 auto;
    
}


.pub{
    background-color: #F26DF7;
 
}


#foot{
    background-color: #947D2F;
}


/*exercici 2*/

@media all and (max-width : 800px) {
    

    section{
        flex-direction: column;
    }

    .sectioncont{
        background-color: yellow;
    }


}

/*exercici 3*/

@media (max-width: 400px) {
    

    #menu{
       flex-flow: column wrap;
        
    }
}